.button_header,
.button_content{display:inline-block; line-height:0em;}
/* ************************************************************************************* */
.button_header{margin-left:6px;}
.button_header .button,
.button_header .button:hover,
.button_header .button.act,
.button_header .button:hover div,
.button_header .button div{display:inline-block; cursor:pointer; overflow:hidden;}
.button_header .button,
.button_header .button:hover,
.button_header .button.act
.button_header .button,
.button_header .button:hover,
.button_header .button.act{padding:0; overflow:hidden; font-size:11px;text-transform:uppercase;}

/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t{background:url('../images/button_header4.gif') repeat-x transparent;}

/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button.act:hover .button-t{background-position:0 0;}
.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t{background-position:0 100%;}

/* ************************************************************************************* */
.button_header4 .bg_button .button-t,
.button_header4 .bg_button:hover .button-t,
.button_header4 .bg_button.act .button-t{margin: 0px 0px 0px 0px; height:27px;}

/* ************************************************************************************* */
.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text,
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text{font-weight:bold;text-decoration:none; white-space:nowrap;text-transform:none;}											 

/* ************************************************************************************* */
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text{color:#fff;}
.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text{color:#fff;line-height:1em;padding: 7px 10px 7px 10px; display:inline-block;}
/* ************************************************************************************* */	
.button_content  button {height:33px; font-size:100%; font-weight:300; font-family:'Open Sans', sans-serif; }
.button_content  .button a {/*height:33px;*/}	

.cont7 .ui-button-text-icon-primary .ui-icon,
.box-padd .ui-button-text-icon-primary .ui-icon	{position:relative;}

.button_content2 .bg_button .button-t,
.button_content2 .bg_button:hover .button-t,
.button_content2 .bg_button.act .button-t	{
	-webkit-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
}
/*.cont7 .button_content2 .bg_button .button-t,
.cont7 .button_content2 .bg_button:hover .button-t,
.cont7 .button_content2 .bg_button.act .button-t,

.box2 .button_content2 .bg_button .button-t,
.box2 .button_content2 .bg_button:hover .button-t,
.box2 .button_content2 .bg_button.act .button-t	{
	-webkit-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
}*/
/* ************************************************************************************* */	
.button_content .button,
.button_content .button.act,
.button_content .button div{display:inline-block; cursor:pointer; overflow:hidden;}
.button_content .button,
.button_content .button.act{padding:0; overflow:hidden; position:relative; font-family: 'Open Sans', sans-serif;}

/* ************************************************************************************* */

.button_content2 .bg_button .button-t
{
	border-top: 1px solid #4d4f50;
    border-left:  1px solid #4d4f50;
    border-bottom: 1px solid #0c0d0d;
    border-right: 1px solid #0c0d0d;
/*-webkit-box-shadow:inset 0 -1px 1px 0px #0d6f7a;
		box-shadow:inset 0 -1px 1px 0px #0d6f7a;*/

background: #4d4f50; /* Old browsers */
background: -moz-linear-gradient(top,  #4d4f50 0%, #353839 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4f50), color-stop(100%,#353839)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4d4f50 0%,#353839 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4d4f50 0%,#353839 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4d4f50 0%,#353839 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4d4f50 0%,#353839 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4f50', endColorstr='#353839',GradientType=0 ); /* IE6-9 */


}
.button_content2 .bg_button .button-t:hover
{
	border-top: 1px solid #0c0d0d;
    border-left:  1px solid #0c0d0d;
    border-bottom: 1px solid #4d4f50;
    border-right: 1px solid #4d4f50;

/*-webkit-box-shadow:inset 1 1px 1px 0px #0d6f7a;
		box-shadow:inset 1 1px 1px 0px #0d6f7a;*/
background: #353839; /* Old browsers */
background: -moz-linear-gradient(top,  #353839 0%, #4d4f50 100%, #4d4f50 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353839), color-stop(100%,#4d4f50), color-stop(100%,#4d4f50)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #353839 0%,#4d4f50 100%,#4d4f50 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #353839 0%,#4d4f50 100%,#4d4f50 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #353839 0%,#4d4f50 100%,#4d4f50 100%); /* IE10+ */
background: linear-gradient(to bottom,  #353839 0%,#4d4f50 100%,#4d4f50 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353839', endColorstr='#4d4f50',GradientType=0 ); /* IE6-9 */

}

.button_content2 .bg_button:hover .button-t,
.button_content2 .bg_button.act .button-t{border:0px solid #141414;
/*-webkit-box-shadow:inset 1 -1px 1px 0px #0c0d0d;
		box-shadow:inset 1 -1px 1px 0px #0c0d0d;*/
	border-top: 1px solid #0c0d0d;
    border-left:  1px solid #0c0d0d;
    border-bottom: 1px solid #4d4f50;
    border-right: 1px solid #4d4f50;

background: #0c0d0d; /* Old browsers */
background: -moz-linear-gradient(top,  #0c0d0d 0%, #4d4f50 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c0d0d), color-stop(100%,#4d4f50)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0c0d0d 0%,#4d4f50 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0c0d0d 0%,#4d4f50 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0c0d0d 0%,#4d4f50 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0c0d0d 0%,#4d4f50 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0d0d', endColorstr='#4d4f50',GradientType=0 ); /* IE6-9 */

}

.button_content22 .bg_button .button-t{background: #f5ca6a; border:0px solid #e85657;
	-webkit-border-radius: 3px 0 0 3px;
			border-radius: 3px 0 0 3px;
}

.button_content22 .bg_button .button-t,
 .button_content22 .bg_button .button-t{
    border-top: 1px solid #18c4d8;
    border-left: 1px solid #18c4d8;
    border-bottom: 1px solid #0d6f7a;
    border-right: 0px solid;
	-webkit-border-radius: 3px 0 0 3px;
			border-radius: 3px 0 0 3px;
background: #18c4d8; /* Old browsers */
background: -moz-linear-gradient(top,  #18c4d8 0%, #14acbd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18c4d8), color-stop(100%,#14acbd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #18c4d8 0%,#14acbd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #18c4d8 0%,#14acbd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #18c4d8 0%,#14acbd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #18c4d8 0%,#14acbd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18c4d8', endColorstr='#14acbd',GradientType=0 ); /* IE6-9 */

}
.button_content22 .bg_button:hover .button-t,
.button_content22 .bg_button.act .button-t{
    border-top: 1px solid #0d6f7a;
    border-left: 1px solid #0d6f7a;
    border-bottom: 1px solid #18c4d7;
    border-right: 0px solid;
background: #14abbd; /* Old browsers */
background: -moz-linear-gradient(top,  #14abbd 0%, #18c4d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14abbd), color-stop(100%,#18c4d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #14abbd 0%,#18c4d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #14abbd 0%,#18c4d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #14abbd 0%,#18c4d7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #14abbd 0%,#18c4d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14abbd', endColorstr='#18c4d7',GradientType=0 ); /* IE6-9 */

}

.button_content2 .bg_button:hover .button-t span.ui-button-text,
.button_content2 .bg_button.act .button-t span.ui-button-text{


}
.prod_info_next .button_content .bg_button .button-t{}
.prod_info_next .button_content .bg_button:hover .button-t,
.prod_info_next .button_content .bg_button.act .button-t{}
.button_content .bg_button .button-t{}
.button_content22 .bg_button .button-t{}
.button_content22 .bg_button:hover .button-t,
.button_content22 .bg_button.act .button-t{}
.button_content .bg_button .button-t i{ margin-right:10px; color:#fff; display:none;}
.button_content .bg_button .button-t,
.button_content .bg_button:hover .button-t,
.button_content .bg_button.act .button-t{position:relative; display:block;}

/* ************************************************************************************* */
.button_content .bg_button  a span.ui-button-text,
.button_content .bg_button  span.ui-button-text,
.button_content .bg_button:hover a span.ui-button-text,
.button_content .bg_button.act a span.ui-button-text,
.button_content .bg_button:hover span.ui-button-text,
.button_content .bg_button.act span.ui-button-text{line-height:17px;font-size:0px;font-weight:normal;white-space:nowrap;text-decoration:none; display:inline-block; }

	
.cont7 .button_content2 .bg_button  a span.ui-button-text,
.cont7 .button_content2 .bg_button  span.ui-button-text,
.cont7 .button_content2 .bg_button:hover a span.ui-button-text,
.cont7 .button_content2 .bg_button.act a span.ui-button-text,
.cont7 .button_content2 .bg_button:hover span.ui-button-text,
.cont7 .button_content2 .bg_button.act span.ui-button-text,

.box-padd .button_content2 .bg_button  a span.ui-button-text,
.box-padd .button_content2 .bg_button  span.ui-button-text,
.box-padd .button_content2 .bg_button:hover a span.ui-button-text,
.box-padd .button_content2 .bg_button.act a span.ui-button-text,
.box-padd .button_content2 .bg_button:hover span.ui-button-text,
.box-padd .button_content2 .bg_button.act span.ui-button-text		{line-height:0px;font-size:0px; padding:0;margin:0;} 


											 
/* ************************************************************************************* */
.button_content2 .bg_button  a span.ui-button-text,
.button_content2 .bg_button  span.ui-button-text{color:#fff;text-decoration:none;
	/*padding:8px 14px 8px 14px;*/}
.button_content2 .bg_button  span.ui-button-text{display:none;}
.prod_info_next .button_content22 .bg_button:hover a span.ui-button-text,
.prod_info_next .button_content22 .bg_button.act a span.ui-button-text{color:#fff;text-decoration:none;}
.button_content2 .bg_button:hover a span.ui-button-text,
.button_content2 .bg_button.act a span.ui-button-text,
.button_content2 .bg_button:hover span.ui-button-text,
.button_content2 .bg_button.act span.ui-button-text{color:#fff;text-decoration:none;}

/* ************************************************************************************* */
.button_content22 .bg_button  a span.ui-button-text,
.button_content22 .bg_button  span.ui-button-text{color:#fff;text-decoration:none;}
.button_content22 .bg_button:hover a span.ui-button-text,
.button_content22 .bg_button.act a span.ui-button-text,
.button_content22 .bg_button:hover span.ui-button-text,
.button_content22 .bg_button.act span.ui-button-text{color:#fff;text-decoration:none;}




/* ************************************************************************************* */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding:7px 14px 0px 14px;}
.prods_info  .button_content2  .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text ,
.starboard_side .button_content2  .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text ,
.button2__padd .button_content2 .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text,
.button__padd .button_content2 .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { /*padding:8px 40px 8px 14px;*/}

.prod_info_next .fl_left .ui-button-text-icon-primary .ui-button-text {padding: 8px 14px 8px 14px;}
.prod_info_next .button_next .ui-button-text-icons .ui-button-text {}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 8px 14px 7px 14px;}
.button_content2 .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png'); */ display: none; }

.box2 .button_content2 .ui-state-default .ui-icon,
.prods_info  .button_content2 .ui-state-default .ui-icon,
.prods_table .button_content2 .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png'); */ display: block; float: right; top: 9px;}
.button_content2 .ui-state-default .ui-icon.ui-icon-cart{background: url('../images/cart_cont7.png') no-repeat -2px -2px;

}
.button_content2:hover .ui-state-default .ui-icon.ui-icon-cart{}
.button_content2:hover .ui-state-default .ui-icon{}
.button_content2 .ui-state-hover .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png'); */}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon,
.button_content22 .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png'); */ display:none;}
.button_content22:hover .ui-state-default .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png'); */ display:none;}
.button_content22 .ui-state-hover .ui-icon{/* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png'); */}
span.ui-button-icon-primary{}

/* Icons
----------------------------------*/
/* states and images */
.ui-state-hover .ui-icon,
.ui-state-active .ui-icon,
.ui-state-highlight .ui-icon,
.button_content2:hover .ui-state-default .ui-icon,
.ui-icon { width: 30px; height: 33px; /* background-image: url('../ext/jquery/ui/redmond/images/ui-icons_817a7a_256x240.png'); */ }
.ui-button-text-icon-primary .ui-button-icon-primary, 
.ui-button-text-icons .ui-button-icon-primary, 
.ui-button-icons-only .ui-button-icon-primary 										{right: 0em; left:auto;}

 
.ui-button-text-icon-secondary .ui-icon, 
.ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
top: 0;
margin-top:0px;
}
.button__padd .button_content22{}
#tdb2 span.ui-button-text{
line-height: 17px;
font-size: 12px;
font-weight: normal;
white-space: nowrap;
text-decoration: none;
display: inline-block;
padding-bottom: 5px;
}