.theme-default #slider {
    margin:0px auto 0 auto;
    min-width:1170px; 
    margin-top: 5px;
    height:457px;
    margin: 5px auto 0;
    z-index: 3;
       
    
}
 
 
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../images/icons/spinner.gif) no-repeat 50% 50%;
	
	
   
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
 
}
 
#navholder {
	width: 122px;
	height: 32px;
	position: relative;
	top: 0px;
	left:48%;
	margin-top: -32px;
	
	
 
}
 
.theme-default .nivoSlider a {
	border:0;
	display:block;
	cursor:pointer;
	
}
 
.theme-default .nivo-controlNav {
	/*background: url("../img/bg.png") no-repeat scroll 0 0 transparent;*/
	width:80px;
	height:50px;
	position:absolute;
	left:3%;
	bottom: 0px;
	padding: 0 0 0 9px;
    /*margin-left:-85px;*/ /* Tweak this to center bullets */
    z-index:200;
}
 
 
.theme-default .nivo-controlNav a {
	margin-left: 0px;
	display:block;
	width:16px;
	height:16px;
/*	background:url(../images/nivo-nav.png) no-repeat; */
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
	
	
}
.theme-default .nivo-controlNav a.active {
	background-position:0 0px;
}
 
.nivoSlider a.nivo-imageLink {
    
}
/* Caption styles */
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8;width:100%;z-index:89;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{}
/* Next & Prev) */
.nivo-directionNav{position:absolute; bottom:55%; z-index:90; width:100%; height:0;}
.nivo-directionNav a {z-index:99;cursor:pointer; width:43px; height:43px;}
.nivo-prevNav,
.nivo-nextNav{
	display:inline-block; 
	visibility:visible;
	padding: 0px 0px 0 0px; 
	background:url('../images/nivo-nav.png') no-repeat;
	font-size:0; 
	line-height:0;
    }
.nivo-prevNav:hover,
.nivo-nextNav:hover{color:#3f3f3f; border-width:0px;}
.nivo-nextNav{float:left; margin-left:0px; background-position:0 100%;}
.nivo-prevNav{float:right; margin-right:0px; background-position:100% 100%;}
.nivo-nextNav:hover{background-position:0 0%;}
.nivo-prevNav:hover{background-position:100% 0;}


.nivo-controlNav{
	position:absolute;
	z-index:89; 
	right: 17px;
	bottom: 28px;
	overflow:hidden; 
	width:auto; 
	display:block;
	padding: 0px; 
	text-align:center;
	display: none;
}
.nivo-controlNav{font-size: 1em; line-height:1em; font-weight:bold;padding:0px;}
.nivo-controlNav a{
background:url('../images/cs-buttons.png') no-repeat 100% 0; 
color:#979797; 
width:16px;
height:16px;
padding:0px 0 0px 0;
overflow:hidden;
float:left;
margin:0 9px 0 0px;
position:relative; 
z-index:991;cursor:pointer;
font-size:0em; 
line-height:0em; 
vertical-align:middle;}
.nivo-controlNav a{}
.nivo-controlNav a:hover{background-position: -16px 0 ;}
.nivo-controlNav a.active{background-position: 0 0;}
.nivo-controlNav a {}
