<div class="container_12">
    <div id="bodyContent" class="grid_9 push_3 ">
        <div class="none">
            <div class="box_wrapper_title22">
                <div class="box_wrapper_title"><span class="title-icon"></span>
                    <h1>Добро пожаловать в Food Store</h1>
                </div>
            </div><br />
        </div>
        <div class="un_title">
            <div class="box_wrapper_title22">
                <div class="box_wrapper_title"><span class="title-icon"></span>
                    <h1 class="cl_both "><i class="icon-thumbs-up-alt"></i>Новинки Август</h1>
                </div>
            </div>
        </div>
        <div class="contentContainer page_un">
            <div class="contentPadd">
                <div class="prods_content prods_table">
                    <ul class="row_new_products_name row_new_products_block first" id="row-0">
                        <li style="width: 270px; min-height: 408px;" class="wrapper_prods equal-height_new_products_block hover item_0 first">
                            <div>
                                <div class="border_prods">
                                    <div class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                                        <a class="prods_pic_bg" href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-18?osCsid=6kb73pdkc8lcjegdl5loatbp66" style="width:230px;height:206px;"><img src="images/products/046.png" alt="ipsum sit amet dolor" title="ipsum sit amet dolor" style="width:230px;height:206px;margin:0px 0px 0px 0px;" width="230" height="206"></a>
                                    </div>
                                    <div class="prods_padd">
                                        <div class="cont7">
                                            <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
                                                <div><span><a href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-18?osCsid=6kb73pdkc8lcjegdl5loatbp66">ipsum sit amet dolor </a></span></div>
                                            </div>
                                            <div class="desc desc_padd">Our Food shop was founded in 2001 and only in 2004 we've lau...</div>
                                            <div class="prods_wrapp">
                                                <div class="price price_padd "><b>Цена:&nbsp;&nbsp;</b><span class="productSpecialPrice">$239.96</span></div>
                                                <div class="button__padd"><strong class="button_details"><a href="http://livedemo00.template-help.com/osc_51200/product_info.php?products_id=18?osCsid=6kb73pdkc8lcjegdl5loatbp66" class="" role="button"><span class="ui-button-text">Подробнее</span></a></strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="prods_vseparator equal-height_new_products_block" style="min-height: 408px;">
                            <div><img src="images/spacer.gif" alt="" width="1" height="1">
                                <div class="prods_vseparator_img"></div>
                            </div>
                        </li>
                        <li style="width: 270px; min-height: 408px;" class="wrapper_prods equal-height_new_products_block hover item_1">
                            <div>
                                <div class="border_prods">
                                    <div class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                                        <a class="prods_pic_bg" href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-17?osCsid=6kb73pdkc8lcjegdl5loatbp66" style="width:230px;height:206px;"><img src="images/products/045.png" alt="ipsum sit amet dolor" title="ipsum sit amet dolor" style="width:230px;height:206px;margin:0px 0px 0px 0px;" width="230" height="206"></a>
                                    </div>
                                    <div class="prods_padd">
                                        <div class="cont7">
                                            <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
                                                <div><span><a href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-17?osCsid=6kb73pdkc8lcjegdl5loatbp66">ipsum sit amet dolor </a></span></div>
                                            </div>
                                            <div class="desc desc_padd">Our Food shop was founded in 2001 and only in 2004 we've lau...</div>
                                            <div class="prods_wrapp">
                                                <div class="price price_padd "><b>Цена:&nbsp;&nbsp;</b><span class="productSpecialPrice">$3.19</span></div>
                                                <div class="button__padd"><strong class="button_details"><a href="http://livedemo00.template-help.com/osc_51200/product_info.php?products_id=17?osCsid=6kb73pdkc8lcjegdl5loatbp66" class="" role="button"><span class="ui-button-text">Подробнее</span></a></strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="prods_vseparator equal-height_new_products_block" style="min-height: 408px;">
                            <div><img src="images/spacer.gif" alt="" width="1" height="1">
                                <div class="prods_vseparator_img"></div>
                            </div>
                        </li>
                        <li style="width: 270px; min-height: 408px;" class="wrapper_prods equal-height_new_products_block hover item_2 last">
                            <div>
                                <div class="border_prods">
                                    <div class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                                        <a class="prods_pic_bg" href="http://livedemo00.template-help.com/osc_51200/product_info.php/ctetur-adipisicing-elit-p-16?osCsid=6kb73pdkc8lcjegdl5loatbp66" style="width:230px;height:206px;"><img src="images/products/044.png" alt="Ctetur adipisicing elit" title="Ctetur adipisicing elit" style="width:230px;height:206px;margin:0px 0px 0px 0px;" width="230" height="206"></a>
                                    </div>
                                    <div class="prods_padd">
                                        <div class="cont7">
                                            <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
                                                <div><span><a href="http://livedemo00.template-help.com/osc_51200/product_info.php/ctetur-adipisicing-elit-p-16?osCsid=6kb73pdkc8lcjegdl5loatbp66">Ctetur adipisicing elit</a></span></div>
                                            </div>
                                            <div class="desc desc_padd">Our Food shop was founded in 2001 and only in 2004 we've lau...</div>
                                            <div class="prods_wrapp">
                                                <div class="price price_padd "><b>Цена:&nbsp;&nbsp;</b><span class="productSpecialPrice">$79.99</span></div>
                                                <div class="button__padd"><strong class="button_details"><a href="http://livedemo00.template-help.com/osc_51200/product_info.php?products_id=16?osCsid=6kb73pdkc8lcjegdl5loatbp66" class="" role="button"><span class="ui-button-text">Подробнее</span></a></strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="row_new_products_name row_new_products_block last" id="row-1">
                        <li style="width: 270px; min-height: 408px;" class="wrapper_prods equal-height_new_products_block hover item_0 first">
                            <div>
                                <div class="border_prods">
                                    <div class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                                        <a class="prods_pic_bg" href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-15?osCsid=6kb73pdkc8lcjegdl5loatbp66" style="width:230px;height:206px;"><img src="images/products/043.png" alt="ipsum sit amet dolor" title="ipsum sit amet dolor" style="width:230px;height:206px;margin:0px 0px 0px 0px;" width="230" height="206"></a>
                                    </div>
                                    <div class="prods_padd">
                                        <div class="cont7">
                                            <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
                                                <div><span><a href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-15?osCsid=6kb73pdkc8lcjegdl5loatbp66">ipsum sit amet dolor </a></span></div>
                                            </div>
                                            <div class="desc desc_padd">Our Food shop was founded in 2001 and only in 2004 we've lau...</div>
                                            <div class="prods_wrapp">
                                                <div class="price price_padd "><b>Цена:&nbsp;&nbsp;</b><span class="productSpecialPrice">$29.99</span></div>
                                                <div class="button__padd"><strong class="button_details"><a href="http://livedemo00.template-help.com/osc_51200/product_info.php?products_id=15?osCsid=6kb73pdkc8lcjegdl5loatbp66" class="" role="button"><span class="ui-button-text">Подробнее</span></a></strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="prods_vseparator equal-height_new_products_block" style="min-height: 408px;">
                            <div><img src="images/spacer.gif" alt="" width="1" height="1">
                                <div class="prods_vseparator_img"></div>
                            </div>
                        </li>
                        <li style="width: 270px; min-height: 408px;" class="wrapper_prods equal-height_new_products_block hover item_1">
                            <div>
                                <div class="border_prods">
                                    <div class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                                        <a class="prods_pic_bg" href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-14?osCsid=6kb73pdkc8lcjegdl5loatbp66" style="width:230px;height:206px;"><img src="images/products/042.png" alt="ipsum sit amet dolor" title="ipsum sit amet dolor" style="width:230px;height:206px;margin:0px 0px 0px 0px;" width="230" height="206"></a>
                                    </div>
                                    <div class="prods_padd">
                                        <div class="cont7">
                                            <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
                                                <div><span><a href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-14?osCsid=6kb73pdkc8lcjegdl5loatbp66">ipsum sit amet dolor </a></span></div>
                                            </div>
                                            <div class="desc desc_padd">Our Food shop was founded in 2001 and only in 2004 we've lau...</div>
                                            <div class="prods_wrapp">
                                                <div class="price price_padd "><b>Цена:&nbsp;&nbsp;</b><span class="productSpecialPrice">$499.99</span></div>
                                                <div class="button__padd"><strong class="button_details"><a href="http://livedemo00.template-help.com/osc_51200/product_info.php?products_id=14?osCsid=6kb73pdkc8lcjegdl5loatbp66" class="" role="button"><span class="ui-button-text">Подробнее</span></a></strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="prods_vseparator equal-height_new_products_block" style="min-height: 408px;">
                            <div><img src="images/spacer.gif" alt="" width="1" height="1">
                                <div class="prods_vseparator_img"></div>
                            </div>
                        </li>
                        <li style="width: 270px; min-height: 408px;" class="wrapper_prods equal-height_new_products_block hover item_2 last">
                            <div>
                                <div class="border_prods">
                                    <div class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                                        <a class="prods_pic_bg" href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-13?osCsid=6kb73pdkc8lcjegdl5loatbp66" style="width:230px;height:206px;"><img src="images/products/041.png" alt="ipsum sit amet dolor" title="ipsum sit amet dolor" style="width:230px;height:206px;margin:0px 0px 0px 0px;" width="230" height="206"></a>
                                    </div>
                                    <div class="prods_padd">
                                        <div class="cont7">
                                            <div class="name name_padd equal-height_new_products_name" style="min-height: 19px;">
                                                <div><span><a href="http://livedemo00.template-help.com/osc_51200/product_info.php/ipsum-sit-amet-dolor-p-13?osCsid=6kb73pdkc8lcjegdl5loatbp66">ipsum sit amet dolor </a></span></div>
                                            </div>
                                            <div class="desc desc_padd">Our Food shop was founded in 2001 and only in 2004 we've lau...</div>
                                            <div class="prods_wrapp">
                                                <div class="price price_padd "><b>Цена:&nbsp;&nbsp;</b><span class="productSpecialPrice">$299.99</span></div>
                                                <div class="button__padd"><strong class="button_details"><a href="http://livedemo00.template-help.com/osc_51200/product_info.php?products_id=13?osCsid=6kb73pdkc8lcjegdl5loatbp66" class="" role="button"><span class="ui-button-text">Подробнее</span></a></strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- bodyContent //-->

    <div _ngcontent-c1="" class="grid_3 pull_9" id="columnLeft">
        <div _ngcontent-c1="">
            <div _ngcontent-c1="" class="infoBoxWrapper list border_none first">
                <div _ngcontent-c1="" class="box_wrapper">
                    <div _ngcontent-c1="" class="infoBoxHeading">
                        <div _ngcontent-c1="" class="box_wrapper_title22">
                            <div _ngcontent-c1="" class="box_wrapper_title">
                                <h1 _ngcontent-c1=""><span _ngcontent-c1="" class="title-icon"></span><i _ngcontent-c1="" class="icon-reorder"></i>Категории</h1>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c1="" class="infoBoxContents">
                        <ul _ngcontent-c1="" class="categories">
                            <li _ngcontent-c1="" class="first">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">VEGETABLES</div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">SEAFOOD<span _ngcontent-c1="" class="category_arrow "></span></div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">MEAT</div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">ENTREES</div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">APPETIZERS</div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">PIZZA</div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">DESSERTS</div></a></div>
                            </li>
                            <li _ngcontent-c1="" class="last">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i><div _ngcontent-c1="" class="div_2">Etetur ipisicing</div></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div _ngcontent-c1="" class="infoBoxWrapper box2">
                <div _ngcontent-c1="" class="box_wrapper">
                    <div _ngcontent-c1="" class="infoBoxHeading">
                        <a _ngcontent-c1="" href="">
                            <div _ngcontent-c1="" class="box_wrapper_title22">
                                <div _ngcontent-c1="" class="box_wrapper_title">
                                    <h1 _ngcontent-c1=""><span _ngcontent-c1="" class="title-icon"></span><i _ngcontent-c1="" class="icon-pencil"></i>Отзывы</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div _ngcontent-c1="" class="infoBoxContents">
                        Ещё нет ни одного отзыва
                    </div>
                </div>
            </div>
            <div _ngcontent-c1="" class="infoBoxWrapper specials box2">
                <div _ngcontent-c1="" class="box_wrapper">
                    <div _ngcontent-c1="" class="infoBoxHeading">
                        <div _ngcontent-c1="" class="box_wrapper_title22">
                            <div _ngcontent-c1="" class="box_wrapper_title">
                                <h1 _ngcontent-c1=""><span _ngcontent-c1="" class="title-icon"></span><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-certificate"></i>Скидки</a></h1>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c1="" class="infoBoxContents hover">
                        <div _ngcontent-c1="" class="pic_padd wrapper_pic_div" style="width:230px;height:206px;">
                            <a _ngcontent-c1="" class="prods_pic_bg" href="" style="width:230px;height:206px;"><img _ngcontent-c1="" alt="ipsum sit amet dolor" src="images/products/045.png" style="width:230px;height:206px;margin:0px 0px 0px 0px;" title="ipsum sit amet dolor" width="230" height="206">
                            </a>
                        </div>
                        <div _ngcontent-c1="" class="box-padd">
                            <div _ngcontent-c1="" class="name name_padd"><span _ngcontent-c1=""><a _ngcontent-c1="" href="">ipsum sit amet dolor </a></span></div>
                            <div _ngcontent-c1="" class="price price_padd"><b _ngcontent-c1="">Цена:&nbsp;&nbsp;</b><del _ngcontent-c1="">$69.96</del><span _ngcontent-c1="" class="productSpecialPrice">$3.19</span></div>
                            <div _ngcontent-c1="" class="button"><strong _ngcontent-c1="" class="button_details"><a _ngcontent-c1="" class="" href=""><span _ngcontent-c1="" class="ui-button-text">Подробнее</span></a></strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-c1="" class="infoBoxWrapper list last">
                <div _ngcontent-c1="" class="box_wrapper">
                    <div _ngcontent-c1="" class="infoBoxHeading">
                        <div _ngcontent-c1="" class="box_wrapper_title22">
                            <div _ngcontent-c1="" class="box_wrapper_title">
                                <h1 _ngcontent-c1=""><span _ngcontent-c1="" class="title-icon"></span><i _ngcontent-c1="" class="icon-info-sign"></i>Информация</h1>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c1="" class="infoBoxContents">
                        <ul _ngcontent-c1="" class="information">
                            <li _ngcontent-c1="" class="first">
                                <div _ngcontent-c1="" class="div_2"> <a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i>Доставка</a></div>
                            </li>
                            <li _ngcontent-c1="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i>Приватность</a></div>
                            </li>
                            <li _ngcontent-c1="">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i>Условия использования</a></div>
                            </li>
                            <li _ngcontent-c1="" class="last">
                                <div _ngcontent-c1="" class="div_2"><a _ngcontent-c1="" href=""><i _ngcontent-c1="" class="icon-ok"></i>Контакты</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>