<form [formGroup]="resetPassword" (ngSubmit)="submit()" novalidate>
    <div *ngIf="isReady" class="alert alert-success">На указанный вами email отправлено письмо с инструкицями для сброса пароля.</div>
    <div class="form-group ">
        <label for="email">Введите ваш Email</label>
        <input type="email" class="form-control" name="email" formControlName="email" />
        <div *ngIf="resetPassword.controls['email'].invalid && resetPassword.controls['email'].touched" class="alert alert-danger">Некоректный email.</div>
        <div *ngIf="resetPassword.controls['email'].hasError('required') && resetPassword.controls['email'].touched" class="alert alert-danger">Введите email.</div>
        <div *ngIf="!isExists" class="alert alert-danger">Пользователь с таким email не существует или ваш email не подтверждён.</div>
    </div>
    <div class="form-group ">
        <button [disabled]="resetPassword.invalid" class="btn btn-success">Ok</button>
    </div>
</form>