div.itemContainer:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px -3px #000000;
}

div.itemContainer {
    margin-bottom: 10px;
}

div.itemContainer button {
    margin-bottom: 5px;
    margin-left: 5px;
}