<div class="col-md-12">
    <a routerLink="/basket">Товаров в корзине: {{basketCount}} на сумму: {{totalPrice}}</a>
    <a type="button" (click)="openModal(template)">Вход</a>
</div>
<div class="row">
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Вход</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <login-app></login-app>
        </div>
    </ng-template>
</div>
<div class="col-md-12">
    <ul class="nav col-md-2">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="col-md-12">
            <a routerLink="">Главная</a>
        </li>
        <li routerLinkActive="active" class="col-md-12">
            <a routerLink="/items">Товары</a>
        </li>
        <li routerLinkActive="active" class="col-md-12">
            <a routerLink="/contacts">Контакты</a>
        </li>
    </ul>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>