<form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="login">Логин</label>
        <input class="form-control" name="login" formControlName="login" />
        <div *ngIf="loginForm.controls['login'].hasError('required') && loginForm.controls['login'].touched" class="alert alert-danger">Введите логин.</div>
        <div *ngIf="loginForm.controls['login'].hasError('minlength') && loginForm.controls['login'].touched" class="alert alert-danger">Минимальная длина 3 символа.</div>
    </div>
    <div class="form-group ">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" name="password" formControlName="password" />
        <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Введите пароль.</div>
    </div>
    <div class="form-group ">
        <button [disabled]="loginForm.invalid" class="btn btn-success">Ok</button>
    </div>
</form>